# Задача №1

In [82]:
import pandas as pd
from pandas import DataFrame as df

In [83]:
path = 'names/yob'

In [93]:
years = input('Введите интересующие года\n').split(', ')

Введите интересующие года
1880

In [94]:
list_of_all_df = list()
for year in years:
    year_df = pd.read_csv(f'{path}{int(year)}.txt', names=['Names', 'Gender', 'Count']).set_index(['Names'])
    list_of_all_df.append(year_df)

In [103]:
all = pd.concat(list_of_all_df).groupby(['Names']).sum()
count_top3 = all.sort_values('Count', ascending=False)[0:3]
count_top3

         Count
Names
John      9701
William   9562
Mary      7092

# Задача №2

In [104]:
years_for_dinamics = input('Введите интересующие года\n').split(', ')

Введите интересующие года
1900, 1950, 2000

In [109]:
list_for_dinamics = list()
for year in years_for_dinamics:
    year_df = pd.read_csv(f'{path}{int(year)}.txt', names=['Names', 'Gender', 'Count']).set_index(['Names'])
    year_df['Year'] = year
    list_for_dinamics.append(year_df)

In [124]:
dinamics = pd.concat(list_for_dinamics).groupby(['Gender', 'Year']).sum()
dinamics.unstack(['Year'])

         Count
Year      1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202